# https://editorconfig.org/
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Kotlin & Gradle Kotlin DSL
[*.{kt,kts}]
indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Google Compose rule: Composable functions start with uppercase
ktlint_function_naming_ignore_when_annotated_with = Composable, Test
ktlint_standard_backing-property-naming = disabled
ktlint_standard_binary-expression-wrapping = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_condition-wrapping = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_function-literal = disabled
ktlint_standard_function-type-modifier-spacing = disabled
ktlint_standard_multiline-loop = disabled
ktlint_standard_function-signature = disabled

# Build config & metadata
[*.{xml,json,yml,yaml,toml}]
indent_size = 2

# Markdown documentation
[*.md]
indent_size = 2
trim_trailing_whitespace = false
